.practice {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 50px;
	background-color: var(--white-bg);
	border-radius: 12px;
	border: 1px solid #ccc;
	box-shadow: var(--shadow);
}

.contentContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.fieldsContainer {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 14px;
	font-weight: bold;
}

.input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	color: black;
	background-color: #f9f9f9;
}

.input:focus {
	outline: none;
	border: 2px solid #007bff;
	background-color: #fff;
}

.button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	color: white;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button:hover {
	background-color: #0056b3;
}

.errorText {
	color: rgb(255, 49, 49);
	font-size: 12px;
}

.button:disabled {
	background-color: var(--text);
    cursor: not-allowed;
}
